if SHIELD_LILY58_OLED

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
    default y

config LV_USE_IMG
    default y

config LV_USE_LABEL
    default y

config LV_USE_ANIMIMG
    default y

config LV_USE_ANIMATION
    default y

config LV_FONT_MONTSERRAT_12
    default y

config ZMK_DISPLAY_WORK_QUEUE_DEDICATED
    default y

config ZMK_DISPLAY_DEDICATED_THREAD_STACK_SIZE
    default 2048

endif
